h1 {
  text-align: right;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  background-color: red;
  color: blue;
}

h2 {
  font-size: 20px;
  font-family: Verdana;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  border: 2px double purple;
}

h4 {
  letter-spacing: 2px;
}

p {
  background-color: yellow;
  color: orange;
}

body {
  background-image: url("fundo.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
